<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<!--    <th:block th:each="event : ${events}">-->
<!--        <li th:text="${event.key}${event.value}"></li>-->
<!--    </th:block>-->
    <th:block>
        <table>
    <tr><th>Event</th><th>Description</th></tr>
    <tr th:each="event: ${events}">
        <td th:text="${event.key}"></td>
        <td th:text="${event.value}"></td>
    </tr>
        </table>
    </th:block>
</body>
</html>